/* General Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
}
/* Section Styling*/
section {
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
}
/* Home Section*/
#home {
  background-color:#2c3e50;
  color: white;
}
/* About Me Section*/
#about 
