/* General Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
}
/* Section Styling*/
section {
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
}
/* Home Section*/
#home {
  background-color:#2c3e50;
  color: white;
}
/* About Me Section*/
#about {
  background-color: white;
}
#about img {
  width: 120px;     /*passport width*/
  height: 150px;    /*passport height*/
  border-radius: 5px;
  margin-bottom: 15px;
}
/*Services Section*/
#services {
  background-color: white;
}
#services ul {
  list-style-type: square;
  padding-left: 0;
}
#services li {
  margin: 8px 0;
}
/*Contact Section*/
#contact {
  background-color: white;
}
input, textarea {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #34495e;
}
