/*General Page Styling*/
body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
/*Navigation*/
nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(5px);
}
nav a {
    color:  #00f7ff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    color: #ff00c8;
}
/*Headings*/
h1 {
    background: linear-gradient(90deg, #00f7ff, #ff00c8);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
h2 {
    color: #ff00c8;
    border-bottom: 2px solid #00f7ff;
    display: inline-block;
    padding-bottom: 5px;
}
/*Section*/
section {
    width: 85%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.2);
    transition: 0.3s ease;
}
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(255, 0, 200, 0.4);
}
/*Glowing Profile Image*/
img {
    width: 180px;
    border-radius: 50%;
    border: 4px solid #00f7ff;
    box-shadow: 0 0 20px #00f7ff, 0 0 40px #ff00c8;
    transition: 0.3s;
}
img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #ff00c8, 0 0 60px #00f7ff;
}
/*Button Style*/
button {
    background: linear-gradient(45deg, #00f7ff, #ff00c8);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-wweight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
/*Footer*/
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    font-size: 0.9rem;
}

